<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.9" >

<!-- versionCode is optional and Android only -->
 <name short="One">Sameers SandBox</name>
  

  <description>
    SandBox
  </description>

  <author href="https://build.phonegap.com" email="sameertalar@gmail.com">
     Sameer Talar
  </author>

    <icon src="icon.png" />

</widget>